.container, .container div {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.container { align-items: center; }

.container div {
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

button {
	appearance: none;
	padding: 4px 8px;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--board-color);
	background-color: var(--bg-color);
	border: 2px solid var(--board-color);
	border-radius: 2px;
	cursor: pointer;
}

button:hover {
	color: var(--bg-color);
	background-color: var(--board-color);
	border-color: var(--bg-color);
	outline: 2px solid var(--board-color);
}
